{% extends 'base.html' %}
{% block title %}edit pet form{% endblock %}
{% block content %}

<h1>{{ pet.name }}</h1>

<img class="img-fluid" src="{{ pet.photo_url }}">

<h2>Update</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != "hidden" %}
    <div class = "from-group">
        {{ field.label }}
        {{ field(class_="form-control") }}
        {% for err in field.errors %}
        <small class="form-text text-danger">{{ err }}</small>
        {% endfor %}
    </div>
    {% endfor %}
  <button class="btn btn-primary" type="submit">Update</button>
</form>

{% endblock %}